.what_is_approbation__content {
   padding: 20px;

   text-align: left;

   section {
      border-bottom: 1px solid white;
      margin-bottom: 20px;
      padding-bottom: 10px;
   }

   ul {
      list-style-type: disc; /* Використання маркерів для списків */
      margin-left: 30px;

      li {
         margin-bottom: 10px; /* Відступ між елементами списку */
         line-height: 1.6; /* Покращення читабельності */
      }
   }

   .white-space-pre-line {
      white-space: pre-line; /* Підтримка нових рядків */
      line-height: 1.6;
      margin-bottom: 10px;
   }

   @media (max-width: 768px) {
      padding: 10px;

      ul {
         margin-left: 20px;
      }
   }
}